.error h1{
    font-family: 'Open Sans', sans-serif;
    font-size: 48px;
    font-weight: 800;
    text-align: center;
    color: #556904;
    text-shadow: 2px 2px #ddd;
    margin-top: 10%;

    width: 100%;
    height: 100%;
}
.error{
    height: 85vh;
}